<extend name="./Application/Admin/View/default/Public/admin.html"/>
<block name="css">
    <link href="__ACSS__/jquery.fancybox.css" rel="stylesheet" />
    <link href="__ACSS__/jquery.fileupload-ui.css" rel="stylesheet" />
</block>

<block name="content">
    <table class="table table-striped">
        <caption style="font-size:30px">新闻管理</caption>
        <br />
        <thead>
            <tr>
                <th>新闻标题</th>
                <th>新闻日期</th>
                <th>新闻简介</th>
                <th>操作</th>
            </tr>
        </thead>
        <volist name="list" id="vo">
        <tbody class="file">
            <tr class="template-domeload dade in">
                <td class="title">{$vo.title}</td>
                <td class="date">{$vo.date}</td>
                <td class="content">{$vo.content}</td>
                <td class="delete"> 
                    <input type="button" value="修改"  class="btn yellow cancel" onclick="location.href='__URL__/upload?id={$vo.id}'">
                    <input type="button" value="删除"  class="btn red delete" onclick="location.href='__URL__/delete?id={$vo.id}'">
                </td>
            </tr>
        </tbody>
        </volist>

    </table><br /><br />

    <form action="__URL__/add" enctype="multipart/form-data" method="post">
    
    <!--<span class="btn green fileinput-button">
    <i class="icon-plus icon-white"></i>
    <span>Add Person...</span>-->

    </span><br /></br />
    <div class="control-group">
    <label class="control-label visible-ie8 visible-ie9">role</label>
        <div class="input-icon left">
            <i class="icon-lock"></i>
            <input class="m-wrap placeholder-no-fix" type="text" name="title" placeholder="新闻标题" required>
            </div>
    </div>

    <div class="control-group">
    <label class="control-label visible-ie8 visible-ie9">role</label>
        <div class="input-icon left">
            <i class="icon-lock"></i>
            <input class="m-wrap placeholder-no-fix" type="text" placeholder="新闻日期" name="date" required>
            </div>
    </div>

    <div class="control-group">
    <label class="control-label visible-ie8 visible-ie9">Password</label>
        <div class="input-icon left">
            <textarea rows="5" cols="20" style="width:232px" name="content"  placeholder="新闻简介" maxlength="100"></textarea>
            </div>
    </div>


    <button type="submit" class="btn blue start">
    <i class="icon-upload icon-white"></i>
    <span>Start Add</span>
    </button>
    </form>
</block>
<block name="jq">
    <script src="__AJS__/form-fileupload.js"></script>
    <!-- BEGIN PAGE LEVEL PLUGINS -->

    <script src="__AJS__/jquery.fancybox.pack.js"></script>

    <!-- BEGIN:File Upload Plugin JS files-->

    <script src="__AJS__/jquery.ui.widget.js"></script>

    <!-- The Templates plugin is included to render the upload/download listings -->

    <script src="__AJS__/tmpl.min.js"></script>

    <!-- The Load Image plugin is included for the preview images and image resizing functionality -->

    <script src="__AJS__/load-image.min.js"></script>

    <!-- The Canvas to Blob plugin is included for image resizing functionality -->

    <script src="__AJS__/canvas-to-blob.min.js"></script>

    <!-- The Iframe Transport is required for browsers without support for XHR file uploads -->

    <script src="__AJS__/jquery.iframe-transport.js"></script>

    <!-- The basic File Upload plugin -->

    <script src="__AJS__/jquery.fileupload.js"></script>

    <!-- The File Upload file processing plugin -->

    <script src="__AJS__/jquery.fileupload-fp.js"></script>

    <!-- The File Upload user interface plugin -->

    <script src="__AJS__/jquery.fileupload-ui.js"></script>

    <!-- The XDomainRequest Transport is included for cross-domain file deletion for IE8+ -->

    <!--[if gte IE 8]><script src="media/js/jquery.xdr-transport.js"></script><![endif]-->

    <!-- END:File Upload Plugin JS files-->

    <!-- END PAGE LEVEL PLUGINS -->

    <script src="__AJS__/app.js"></script>

    <script src="__AJS__/form-fileupload.js"></script>

    <script>

        jQuery(document).ready(function() {

        // initiate layout and plugins

        App.init();

        FormFileUpload.init();

        });

    </script>

    <!-- END JAVASCRIPTS -->
</block>
