<extend name="./Application/Admin/View/default/Public/admin.html"/>
<block name="css">
    <link href="__ACSS__/jquery.fancybox.css" rel="stylesheet" />
    <link href="__ACSS__/jquery.fileupload-ui.css" rel="stylesheet" />
</block>

<block name="content">
    <table class="table table-striped">
        <caption style="font-size:30px">优秀社团人物介绍</caption>
        <br />
        <thead>
            <tr>
                <th>头像</th>
                <th>人物姓名</th>
                <th>英文名</th>
                <th>性别</th>
                <th>年龄</th>
                <th>角色</th>
                <th>学院</th>
                <th>操作</th>
            </tr>
        </thead>
        <volist name="list" id="vo">
        <tbody class="file">
            <tr class="template-domeload dade in">
                <td class="img_path"><img width="30" height="30" src="{$vo.img_path}"/></td>
                <td class="name">{$vo.name}</td>
                <td class="english_name">{$vo.english_name}</td>
                <td class="sex">{$vo.sex}</td>
                <td class="age">{$vo.age}</td>
                <td class="role">{$vo.role}</td>
                <td class="college">{$vo.college}</td>
                <td class="delete"> 
                    <input type="button" value="修改"  class="btn yellow cancel" onclick="location.href='__URL__/upload?id={$vo.id}'">
                    <input type="button" value="删除"  class="btn red delete" onclick="location.href='__URL__/delete?id={$vo.id}'">
                </td>
            </tr>
        </tbody>
        </volist>

    </table><br />

    <form action="__URL__/add" enctype="multipart/form-data" method="post">
    
    <!--<span class="btn green fileinput-button">
    <i class="icon-plus icon-white"></i>
    <span>Add Person...</span>-->

    <span class="btn green fileinput-button">
    <i class="icon-plus icon-white"></i>
    <span>头像上传</span>
    <input type="file" name="tx" multiple>
    </span>

    </span><br /></br />
    <div class="control-group">
    <label class="control-label visible-ie8 visible-ie9">name</label>
        <div class="input-icon left">
            <i class="icon-lock"></i>
            <input class="m-wrap placeholder-no-fix" type="text" name="name" placeholder="人物姓名" required>
            </div>
    </div>

    <div class="control-group">
    <label class="control-label visible-ie8 visible-ie9">age</label>
        <div class="input-icon left">
            <i class="icon-lock"></i>
            <input class="m-wrap placeholder-no-fix" type="text" placeholder="年龄" name="age" required>
            </div>
    </div>

    <div class="control-group">
    <label class="control-label visible-ie8 visible-ie9">sex</label>
        <div class="input-icon left">
            <i class="icon-lock"></i>
            <input class="m-wrap placeholder-no-fix" type="text" placeholder="性别" name="sex" required>
            </div>
    </div>

    <div class="control-group">
    <label class="control-label visible-ie8 visible-ie9">college</label>
        <div class="input-icon left">
            <i class="icon-lock"></i>
            <input class="m-wrap placeholder-no-fix" type="text" placeholder="学院" name="college" required>
            </div>
    </div>


    <button type="submit" class="btn blue start">
    <i class="icon-upload icon-white"></i>
    <span>Start Add</span>
    </button>
    </form>
</block>
<block name="jq">
    <script src="__AJS__/form-fileupload.js"></script>
    <!-- BEGIN PAGE LEVEL PLUGINS -->

    <script src="__AJS__/jquery.fancybox.pack.js"></script>

    <!-- BEGIN:File Upload Plugin JS files-->

    <script src="__AJS__/jquery.ui.widget.js"></script>

    <!-- The Templates plugin is included to render the upload/download listings -->

    <script src="__AJS__/tmpl.min.js"></script>

    <!-- The Load Image plugin is included for the preview images and image resizing functionality -->

    <script src="__AJS__/load-image.min.js"></script>

    <!-- The Canvas to Blob plugin is included for image resizing functionality -->

    <script src="__AJS__/canvas-to-blob.min.js"></script>

    <!-- The Iframe Transport is required for browsers without support for XHR file uploads -->

    <script src="__AJS__/jquery.iframe-transport.js"></script>

    <!-- The basic File Upload plugin -->

    <script src="__AJS__/jquery.fileupload.js"></script>

    <!-- The File Upload file processing plugin -->

    <script src="__AJS__/jquery.fileupload-fp.js"></script>

    <!-- The File Upload user interface plugin -->

    <script src="__AJS__/jquery.fileupload-ui.js"></script>

    <!-- The XDomainRequest Transport is included for cross-domain file deletion for IE8+ -->

    <!--[if gte IE 8]><script src="media/js/jquery.xdr-transport.js"></script><![endif]-->

    <!-- END:File Upload Plugin JS files-->

    <!-- END PAGE LEVEL PLUGINS -->

    <script src="__AJS__/app.js"></script>

    <script src="__AJS__/form-fileupload.js"></script>

    <script>

        jQuery(document).ready(function() {

        // initiate layout and plugins

        App.init();

        FormFileUpload.init();

        });

    </script>

    <!-- END JAVASCRIPTS -->
</block>
